.people {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}

main {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 4rem 20%;
}

.mission {
    text-align: center;
    text-wrap: balance;
}

@media screen and (max-width: 1300px) {
    .people {
        grid-template-columns: 1fr;
    }    
}

.people h1 {
    grid-column: 1 / 3;
    text-align: center;
}

.person {
    background-color: var(--bg-sec);
    padding: 1rem;
    display: grid;
    grid-template-columns: 5rem 1fr; 
    border-radius: 1rem;
}

.person img {
    grid-row: 1 / 3;
    background-color: aliceblue;
    width: 4rem;
    height: 4rem;
    border-radius: 4rem;
    place-self: center;
}

.credits {
    text-align: center;
}