@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    --bg-prim: black;
    --bg-sec: rgb(15, 15, 15);

    --border-prim: rgb(87, 87, 87);

    --fc-prim: white;
    
    --acc: rgb(50, 115, 255);
    --warn: rgb(255, 0, 0);
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}

body {
    background-color: var(--bg-prim);
    color: var(--fc-prim);
}

main {
    margin-top: 5rem;
    min-height: calc(100vh - 18rem);
    padding: 4rem 20% 4rem 20%;
}

h1 {
    font-size: clamp(2.5rem, 2dvw, 5rem);
    font-weight: 500;
}

h2 {
    font-size: clamp(1rem, 1.5dvw, 3.75rem);
    font-weight: 600;
}

h3 {
    font-size: clamp(0.5rem, 0.75dvw, 2rem);
    font-weight: 300;
}

h4 {
    font-size: clamp(1.25rem, 1dvw, 3.75rem);
    font-weight: 400;
}

h5 {
    font-size: clamp(3rem, 3dvw, 10rem);
    font-weight: 800;
}

h6 {
    font-size: clamp(4rem, 4dvw, 10rem);
    font-weight: 800;
}

a {
    color: var(--fc-prim);
    text-decoration: none;

    background: linear-gradient(var(--acc) 0 0) 
    bottom center/
    var(--underline-width, 0%) 0.2rem
    no-repeat;
    
    transition: background 0.1s ease-in-out, color 0.1s ease-in-out;
}

a.Warning {
    background: linear-gradient(var(--warn) 0 0)
    bottom center/
    var(--underline-width, 0%) 0.2rem
    no-repeat;
}

a:hover {
    color: var(--acc);
    --underline-width: 100%
}

a.Warning:hover {
    color: var(--warn);
}

p {
    font-size: clamp(1rem, 1dvw, 4rem);
}

.accent {
    color: var(--acc);
}

nav {
    display: flex;
    justify-content: center;
    height: 5rem;
    align-items: center;
    font-size: clamp(1.25rem, 1dvw, 3.75rem);
    font-weight: 400;
    width: 100%;
    position: fixed;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    top: 0;
}

nav ul {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    width: 100%;
}

nav img.logoImg {
    height: 2rem;
}

button {
    background-color: var(--bg-sec);
    color: var(--fc-prim);
    border: none;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    transition: color 0.1s ease-in-out;
}

button:hover {
    color: var(--acc);
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
}

footer a {
    text-decoration: underline;
}

.accessibilityButton {
    margin-right: 2rem;
}

.accessibilityButton img {
    height: 2rem;
}

.accessibilityMenu {
    position: absolute;
    transform: scale(0);
    transform-origin: top right;
    transition: transform 0.1s ease-in-out;
    right: 2rem;
    width: 30rem;
    background-color: var(--bg-sec);
    padding: 1rem;
    border-radius: 1rem;
}

.accessibilityButton:hover > .accessibilityMenu {
    transform: scale(1);
}

